@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@font-face {
  font-family: Manrope;
  font-style: normal;
  /* font-weight: 200 700; */
  font-display: swap;
  src: url("/fonts/Manrope/Manrope-VariableFont_wght.ttf") format("ttf");
}

@theme {
  --font-manrope: "Manrope", sans-serif; 
}